{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-dfDw0BO6jbY5UBPIe3W7jASzFz5SXM4PoLMT1Z9ZqY4UZqZbVoFFlJ7A/KW1mCiR" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/8ba53d469b.js" crossorigin="anonymous"></script>
<style>
  navbar{
  backgroundcolor:green;
  }


</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" id="mybrand">Clickcharm</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item ms-5">
          <a class="nav-link" href="#">BRAND</a>
        </li>
        <li class="nav-item dropdown ms-5">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CATAEGORY
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
            {% for x in categories %}
            <li><a class="dropdown-item" href="category/{{x.Main_category_id}}">{{x.Main_category}}</a></li>
           {% endfor %}
          </ul>
        </li>
        <li class="nav-item ms-5">
          <a class="nav-link active" href="/profile"  aria-disabled="page">PROFILE</a>
        </li>
        <li class="nav-item ms-5">
          <a class="nav-link active" href="/profile"  aria-disabled="page">WISHLIST</a>
        </li>
        <li class="nav-item ms-5">
          <a class="nav-link active" href="/profile"  aria-disabled="page">BAG</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<br>
<br>

<main class="page">
        <section class="shopping-cart dark" style="margin-left:2px;">
            <div class="container">
                <div class="content">
                    {% if cart %}
                    <div class="row">
                        <div class="col-md-8">
                            <div class="items">
                                <div class="product">
                                    {%  for x in cart %}
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img style="margin-left:15px;" src= "{{ x.Product_id.images.first.image.url }}" class="img-fluid rounded-start p-img" height="100px;" width="100px;">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-md-5 product-name">
                                                        <div class="product-name">

                                                            <div class="product-info">
                                                                <h5 style="margin-left:15px;">{{x.Product_id.Product_title}} </h5>
                                                                <div style="margin-left:15px;">{{x.Product_id.Product_description}}  </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 quantity">
                                                        <form>
                                                            {% csrf_token %}
                                                            Qty:<select id="Qty" name="Qty">{{x.Quantity}}
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                </select>
                                                        </form>
                                                    </div>
                                                    <div class="col-md-3 price" style="margin-left:15px;">
                                                        <span>₹{{x.Product_id.Price}}</span>
                                                    </div>
                                                    <form style="margin-left:15px;">
                                                        {% csrf_token %}
<!--                                                        <a href="/dlt_product/{{x.Cart_id}}" class="btn btn-outline-white" style="text-decoration:none; color:black">Remove</a>-->
                                                        <a href="/buy"><button type="submit" class="btn btn-info" id="button">Buy Now</button></a>
                                                    </form>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="summary">
                                <h3>Price Details</h3>
                                <div class="summary-item"><span class="text">Shipping Charge:</span><span class="price">₹</span></div>
                                <div class="summary-item"><span class="text">TOTAL MRP:</span><span class="price">₹{{total_price}</span></div>
                                <button type="button" class="btn btn-primary btn-lg btn-block">Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Home</title>-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-dfDw0BO6jbY5UBPIe3W7jASzFz5SXM4PoLMT1Z9ZqY4UZqZbVoFFlJ7A/KW1mCiR" crossorigin="anonymous">-->
<!--        <script src="https://kit.fontawesome.com/8ba53d469b.js" crossorigin="anonymous"></script>-->
<!--<style>-->

<!--        .gradient-custom {-->
<!--/* fallback for old browsers */-->
<!--background: #6a11cb;-->

<!--/* Chrome 10-25, Safari 5.1-6 */-->
<!--background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));-->

<!--/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */-->
<!--background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))-->
<!--}-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<section class="h-100 gradient-custom">-->
<!--  <div class="container py-5">-->
<!--    <div class="row d-flex justify-content-center my-4">-->
<!--      <div class="col-md-8">-->
<!--        <div class="card mb-4">-->
<!--          <div class="card-header py-3">-->
<!--            <h5 class="mb-0">Cart - 2 items</h5>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            &lt;!&ndash; Single item &ndash;&gt;-->
<!--            <div class="row">-->
<!--              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">-->
<!--                &lt;!&ndash; Image &ndash;&gt;-->
<!--                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">-->
<!--                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp"-->
<!--                    class="w-100" alt="Blue Jeans Jacket" />-->
<!--                  <a href="#!">-->
<!--                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>-->
<!--                  </a>-->
<!--                </div>-->
<!--                &lt;!&ndash; Image &ndash;&gt;-->
<!--              </div>-->

<!--              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">-->
<!--                &lt;!&ndash; Data &ndash;&gt;-->
<!--                <p><strong>Blue denim shirt</strong></p>-->
<!--                <p>Color: blue</p>-->
<!--                <p>Size: M</p>-->
<!--                <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"-->
<!--                  title="Remove item">-->
<!--                  <i class="fas fa-trash"></i>-->
<!--                </button>-->
<!--                <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"-->
<!--                  title="Move to the wish list">-->
<!--                  <i class="fas fa-heart"></i>-->
<!--                </button>-->
<!--                &lt;!&ndash; Data &ndash;&gt;-->
<!--              </div>-->

<!--              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">-->
<!--                &lt;!&ndash; Quantity &ndash;&gt;-->
<!--                <div class="d-flex mb-4" style="max-width: 300px">-->
<!--                  <button class="btn btn-primary px-3 me-2"-->
<!--                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-->
<!--                    <i class="fas fa-minus"></i>-->
<!--                  </button>-->

<!--                  <div class="form-outline">-->
<!--                    <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control" />-->
<!--                    <label class="form-label" for="form1">Quantity</label>-->
<!--                  </div>-->

<!--                  <button class="btn btn-primary px-3 ms-2"-->
<!--                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">-->
<!--                    <i class="fas fa-plus"></i>-->
<!--                  </button>-->
<!--                </div>-->
<!--                &lt;!&ndash; Quantity &ndash;&gt;-->

<!--                &lt;!&ndash; Price &ndash;&gt;-->
<!--                <p class="text-start text-md-center">-->
<!--                  <strong>$17.99</strong>-->
<!--                </p>-->
<!--                &lt;!&ndash; Price &ndash;&gt;-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Single item &ndash;&gt;-->

<!--            <hr class="my-4" />-->

<!--            &lt;!&ndash; Single item &ndash;&gt;-->
<!--            <div class="row">-->
<!--              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">-->
<!--                &lt;!&ndash; Image &ndash;&gt;-->
<!--                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">-->
<!--                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/13a.webp"-->
<!--                    class="w-100" />-->
<!--                  <a href="#!">-->
<!--                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>-->
<!--                  </a>-->
<!--                </div>-->
<!--                &lt;!&ndash; Image &ndash;&gt;-->
<!--              </div>-->

<!--              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">-->
<!--                &lt;!&ndash; Data &ndash;&gt;-->
<!--                <p><strong>Red hoodie</strong></p>-->
<!--                <p>Color: red</p>-->
<!--                <p>Size: M</p>-->

<!--                <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"-->
<!--                  title="Remove item">-->
<!--                  <i class="fas fa-trash"></i>-->
<!--                </button>-->
<!--                <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"-->
<!--                  title="Move to the wish list">-->
<!--                  <i class="fas fa-heart"></i>-->
<!--                </button>-->
<!--                &lt;!&ndash; Data &ndash;&gt;-->
<!--              </div>-->

<!--              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">-->
<!--                &lt;!&ndash; Quantity &ndash;&gt;-->
<!--                <div class="d-flex mb-4" style="max-width: 300px">-->
<!--                  <button class="btn btn-primary px-3 me-2"-->
<!--                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-->
<!--                    <i class="fas fa-minus"></i>-->
<!--                  </button>-->

<!--                  <div class="form-outline">-->
<!--                    <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control" />-->
<!--                    <label class="form-label" for="form1">Quantity</label>-->
<!--                  </div>-->

<!--                  <button class="btn btn-primary px-3 ms-2"-->
<!--                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">-->
<!--                    <i class="fas fa-plus"></i>-->
<!--                  </button>-->
<!--                </div>-->
<!--                &lt;!&ndash; Quantity &ndash;&gt;-->

<!--                &lt;!&ndash; Price &ndash;&gt;-->
<!--                <p class="text-start text-md-center">-->
<!--                  <strong>$17.99</strong>-->
<!--                </p>-->
<!--                &lt;!&ndash; Price &ndash;&gt;-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Single item &ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card mb-4">-->
<!--          <div class="card-body">-->
<!--            <p><strong>Expected shipping delivery</strong></p>-->
<!--            <p class="mb-0">12.10.2020 - 14.10.2020</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card mb-4 mb-lg-0">-->
<!--          <div class="card-body">-->
<!--            <p><strong>We accept</strong></p>-->
<!--            <img class="me-2" width="45px"-->
<!--              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"-->
<!--              alt="Visa" />-->
<!--            <img class="me-2" width="45px"-->
<!--              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"-->
<!--              alt="American Express" />-->
<!--            <img class="me-2" width="45px"-->
<!--              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"-->
<!--              alt="Mastercard" />-->
<!--            <img class="me-2" width="45px"-->
<!--              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp"-->
<!--              alt="PayPal acceptance mark" />-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <div class="card mb-4">-->
<!--          <div class="card-header py-3">-->
<!--            <h5 class="mb-0">Summary</h5>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <ul class="list-group list-group-flush">-->
<!--              <li-->
<!--                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">-->
<!--                Products-->
<!--                <span>$53.98</span>-->
<!--              </li>-->
<!--              <li class="list-group-item d-flex justify-content-between align-items-center px-0">-->
<!--                Shipping-->
<!--                <span>Gratis</span>-->
<!--              </li>-->
<!--              <li-->
<!--                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">-->
<!--                <div>-->
<!--                  <strong>Total amount</strong>-->
<!--                  <strong>-->
<!--                    <p class="mb-0">(including VAT)</p>-->
<!--                  </strong>-->
<!--                </div>-->
<!--                <span><strong>$53.98</strong></span>-->
<!--              </li>-->
<!--            </ul>-->

<!--            <button type="button" class="btn btn-primary btn-lg btn-block">-->
<!--              Go to checkout-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>-->

<!--</body>-->
<!--</html>-->